<header >


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">CONGRATULATIONS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">

      <li class="nav-item active">
        <a class="nav-link">
          <%= link_to 'Calendar ', dates_holidays_path %>
        </a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="#">
          <%= link_to 'Emails', emails_path %>
        </a>
      </li>


      <li class="nav-item active">
        <a class="nav-link active">
          <%= link_to ' Holidays', holidays_path  %>
        </a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="#">
          <%= link_to 'Holidays Types', types_path %>
        </a>
      </li>

      <li class="nav-item active">
        <a class="nav-link">
          <%= link_to 'Countries', countries_path %>
        </a>
      </li>

      <li class="nav-item active">
        <a class="nav-link">
          <%= link_to 'Companies', companies_path %>
        </a>
      </li>

      <li class="nav-item active">
        <a class="nav-link">
          <%= link_to 'Companies-Holidays', companies_holidays_path %>
        </a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="#">
          <%= link_to 'Counries-Holidays', countries_holidays_path %>
        </a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="#">
          <%= link_to 'People', people_path %>
        </a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="#">
          <%= link_to 'Companies-People', companies_people_path %>
        </a>
      </li>
  <!--     <li class="nav-item active">
        <a class="nav-link" href="#">
          <%= link_to 'Mail Addresses', mail_addresses_path %>
        </a>
      </li>
 -->
      <li class="nav-item active">
        <a class="nav-link" href="#">
          <%= link_to 'Post Cards', postcards_path %>
        </a>
      </li>
<!--       <li class="nav-item active">
        <a class="nav-link" href="#">
          <%= link_to 'Emails - Cards', email_cards_path %>
        </a>
      </li>
 -->      <li class="nav-item active">
        <a class="nav-link" href="#">
          <%= link_to 'Card Texts', cardtexts_path %>
        </a>
      </li>

  <!--
      <li class="nav-item active">
        <a class="nav-link">
          <%= link_to 'ADMIN DASHBOARD ', rails_admin_path %>
        </a>
      </li>

   <li class="nav-item active">
        <a class="nav-link" href="#">
          <%= link_to 'Reserved Item', mail_addresses_path %>
        </a>
      </li>
 -->
    <!--   <li class="nav-item active">
        <a class="nav-link" href="#">Greeting Texts</a>
     -->  </li>

  </div>
</nav>

</header>
