<%= form_with model: @holiday, local: true do |form| %>
  id:
  <a style="color: navy; font-size: 16px">
    <%= @holiday.id %>
  </a>
  <p>
    <%= "Holiday name:" %>
    <%= form.text_field :name, size: 50 %>
  </p>
  <p>
    <%= 'Type: ' %>
    <%= form.collection_select :type_id, Type.order(:name), :id, :name,
        { prompt: "Type select", id: "holiday_type_id" } %>
  </p>
  <p>
    <%= 'variable:' %>
    <%= form.check_box :calc %>
  </p>
  <p> <%= form.submit %> </p>
<% end %>
<script>
  $('select').select2();
</script>
