<h3> Holidays </h3>
<div class="digg_pagination">
  <%= will_paginate @holidays, :container => false %>
</div>

<%= link_to 'New Holiday', new_holiday_path %>

<table class="container">
  <% if @holidays.present? %>
    <table name="tab-sorted" class="table table-bordered">
      <thead class="thead-light" align="center">
        <tr>
          <!-- <th> N </th> -->
          <th name="column1" class="sort-by-title pointer col-md-auto">
            <%= 'Holiday' %>
            <%= octicon 'arrow-up', class: 'text-success hide' %>
            <%= octicon 'arrow-down' , class: 'text-success hide' %>
          </th>
          <th name="column2" class="pointer col-md-auto">
            <%= 'Type' %>
            <%= octicon 'arrow-up', class: 'text-success hide' %>
            <%= octicon 'arrow-down' , class: 'text-success hide' %>
          </th>
        </tr>
      </thead>
        <%#= render @holidays %>
      <tbody class="sort-body">
       <% @holidays.each do |holiday| %>
        <tr>
       <!--    <td >
            <%#= holiday.id %>
          </td>
        -->
          <td>
            <%= holiday.name %>
          </td>
          <td >
            <%= holiday.type.name %>
          </td>
        <!--  <td class="s_e_d">-->
            <%#= link_to 'show', holiday_path(holiday) %>
        <!--  </td>-->
          <td class="s_e_d">
            <%= link_to 'edit', edit_holiday_path(holiday.id) %>
          </td>
          <td class="s_e_d">
            <%= link_to 'delete', holiday_path(holiday),
                        method: :delete, data: { confirm: 'Are you sure' } %>
          </td>
        </tr>
        <% end %>
      </tbody>

    </table>
  <% else %>
    <p>
      <%= 'Empty list' %>
    </p>
  <% end %>
</table>
<div class="digg_pagination">
  <%= will_paginate @holidays, :container => false %>
</div>

