<h3> Holidays </h3>
<div class="digg_pagination">
  <%= will_paginate @holidays, :container => false %>
</div>

<%= link_to 'New Holiday', new_holiday_path %>

<table class="container">
  <% if @holidays.present? %>
    <table class="tab-sorted table table-bordered">
      <thead class="thead-light" id="head" align="center">
        <tr>
          <th name="column1" class="sort-by-title pointer col-md-auto">
            <%= 'Holiday' %>
            <%= octicon 'arrow-up', class: 'text-success' %>
            <%= octicon 'arrow-down', class: 'text-success hide' %>
          </th>
          <th name="column2" class="pointer col-md-auto">
            <%= 'Type' %>
            <%= octicon 'arrow-up', class: 'text-success hide' %>
            <%= octicon 'arrow-down', class: 'text-success hide' %>
          </th>
          <th name="column3" class="pointer col-md-auto">
            <%= 'Calculated' %>
          </th>
          <th name="column4" class="pointer col-md-auto">
            N
          </th>
        </tr>
      </thead>
      <%= render @holidays %>
    </table>
  <% else %>
    <p>
      <%= 'Empty list' %>
    </p>
  <% end %>
</table>
<div class="digg_pagination">
  <%= will_paginate @holidays, :container => false %>
</div>

