<%= form_with model: @companies_email, local: true do |form| %>
  <p>
    <%= 'for This Email: ' %>
    <a style="color: white; font-weight: bold; font-size: 16px; background-color: navy">
      <%= form.collection_select :email_id, Email.order(:name), :id, :name %>
    </a>
  </p>
  <p>
    <%= 'TO Company: ' %>
    <%= form.collection_select :company_id, Company.order(:name), :id, :name %>
  </p>
  <p>
    <%= 'Comment:' %>
    <%= form.text_area :comment, rows: 1, cols: 60, class: 'form-control' %>
  </p>
  <br>
  <p>  <%= form.submit %> </p>
<% end %>
<br>

