<%= form_with model: @person, local: true do |form| %>

  <p>
    <%= 'Name: ' %>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= 'Birthday: ' %>
    <%= date_select :person, :birthday, start_year: Time.now.year - 70, end_year: Time.now.year - 18 %>
  </p>

  <p>
    <%= 'Email: ' %>
    <%= form.text_field :email %>
  </p>

  <br>
  <p> <%= form.submit %> </p>
<% end %>
<br>
