<tr>
  <td>
    <%= person.name %>
  </td>
  <td>
    <%= person.birthday_format %>
  </td>
  <td>
    <%= person.email %>
    <% if person.this_email_use.present? %>
    <a style="color: red; font-weight: bold;" > ( Use this For Mailer ) </a>
    <% end %>
  </td>
  <td>
    <%= person.id %>
  </td>
<!--   <td>
    <%#= link_to 'show', person_path(person) %>
  </td>
 -->
  <td>
    <%= link_to 'edit', edit_person_path(person) %>
  </td>

  <td>
    <%= link_to 'delete', person_path(person),
                method: :delete, data: { confirm: 'Are you sure' } %>
  </td>
</tr>
