<tr>
  <td>
    <%= person.name %>
  </td>
  <td>
    <%= person.birthday_index %>
    <%#= date_field(:person, :birthday ) %>
  </td>
  <td>
    <%= person.email %>
  </td>
  <td>
    <%= person.id %>
  </td>

<!--   <td>
    <%#= link_to 'show', person_path(person) %>
  </td>
 -->
  <td>
    <%= link_to 'edit', edit_person_path(person) %>
  </td>

  <td>
    <%= link_to 'delete', person_path(person),
                method: :delete, data: { confirm: 'Are you sure' } %>
  </td>
</tr>
