<div>
  <h1> People </h1>
  <div class="digg_pagination">
     <%= will_paginate @people, :container => false %>
  </div>
  <%= link_to 'New Person', new_person_path %>
  <% if @people.present? %>
    <table style="font-size: 12px" class="table table-bordered">
      <thead class="thead-light" align="center">
        <tr>
          <th> Name and Company </th>
          <th> Birthday </th>
          <th> Email </th>
          <th> N rec </th>
        </tr>
      </thead>
      <%= render @people %>
    </table>
  <% else %>
    <p>
      <%= 'Empty list' %>
    </p>
  <% end %>
  <br>
  <div class="digg_pagination">
     <%= will_paginate @people, :container => false %>
  </div>
</div>

