<%= form_with model: @type, local: true do |form| %>

<!--  <p>
    <%= form.label :id %>
  </p>

  <p>
    <%= form.text_field :id %>
  </p>
-->
  <p>
    <%= form.label :name %>:
  </p>

  <p>
    <%= form.text_field :name %>
  </p>

  <br>
  <%= render "holidays_fields", f: :form %>

 <!--
    <%#= form.fields_for :holidays do |builder| %>
    <%#= render "holidays_fields", :form => builder %>
    <%# end %>
 -->
  <p> <%= form.submit %> </p>
<% end %>
<br>
