<table class="table" >
  <thead class="thead-light" align="center">
    <tr>
      <th>
        <%= 'Holiday' %>
      </th>
      <th>
        <%= 'Calculated' %>
      </th>
      <th> N </th>
    </tr>
  </thead>
   <tbody>
    <% @type.holidays.each do |holiday| %>
      <tr>
        <td>
          <%= holiday.name %>
        </td>
        <td>
          <%= holiday.calc == 1 ? "YES" : '' %>
        </td>
        <td>
          <%= holiday.id %>
        </td>
        <td class="s_e_d">
          <%#= link_to 'edit', edit_holiday_path(holiday.id) %>
        </td>
        <td class="s_e_d">
          <%#= link_to 'delete', holiday_path(holiday),
                      method: :delete, data: { confirm: 'Are you sure' } %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<!-- <div>
  <%#= form.label :name, "Holiday:" %>
  <%#= form.text_field :name %>
  <%#= form.label :calc, "Calculated date:" %>
  <%#= form.check_box :calc %>
</div>
 -->
