<tr>
  <td>
    <%= cardtext.id %>
  </td>
  <td>
    <%= cardtext.filename %>
  </td>

  <td>
    <%#= cardtext.text :text, rows: 4, cols: 30, class: 'form-control' %>
    <%= text_area_tag(:text, cardtext.text, size: :auto)  %>
  </td>
  <td>
    <%= cardtext.holiday.name if cardtext.holiday_id.present? %>
  </td>

 <!--  <td>
    <%#= link_to 'show', cardtext_path(cardtext) %>
  </td>
 -->
  <td>
    <%= link_to 'edit', edit_cardtext_path(cardtext) %>
  </td>

  <td>
    <%= link_to 'delete', cardtext_path(cardtext),
                method: :delete, data: { confirm: 'Are you sure' } %>
  </td>
</tr>
