<%= form_with model: @cardtext, local: true do |form| %>

<p>
  <%#= form.label :filename %>
  <%= "Short description" %><br>
  <%= form.text_field :filename, id: :cardtext_filename, class: 'form-control' %>
</p>

<p>
  <%= form.label :text %><br>
  <%= form.text_area :text, rows: 7, cols: 60, class: 'form-control' %>
</p>

<br>
  <p> <%= form.submit %> </p>
<% end %>
<br>
