<%= form_with model: @cardtext, local: true do |form| %>

<p>
  <%= 'Holiday: ' %>
  <%= form.collection_select :holiday_id, Holiday.order(:name), :id, :name, prompt: 'Select holiday' %>
</p>
<p>
  <%= "Short description" %><br>
  <%= form.text_field :filename, id: :cardtext_filename, class: 'form-control' %>
</p>
<p>
  <%= form.label :text %><br>
  <%= form.text_area :text, rows: 7, cols: 60, class: 'form-control' %>
</p>
<% raw '<br>' %>
<p> <%= form.submit %> </p>
<% end %>
<%= raw '<br>' %>
