<%= form_with model: @company, local: true do |form| %>
  <p>
    <%= form.label :name %>:
    <%= form.text_field :name, size: 100 %>
  </p>
  <p>
    <%= 'Country: ' %>
    <a><%= form.collection_select :country_id, Country.order(:name), :id, :name, {prompt: 'Select Country'} %><a>
  </p>
  <p>
    <%= form.label :email%>:
    <a> <%= form.text_field :email, size: 100 %></a>
  </p>
  <br>
  <p> <%= form.submit %> </p>
<% end %>
<br>
