<h1> Companies </h1>
<div class="digg_pagination">
  <%= will_paginate @companies, :container => false %>
</div>

 <%= link_to 'New Company', new_company_path %>

<% if @companies.present? %>
  <table class="table table-bordered">
    <thead class="thead-light" align="center">
      <tr>
        <th> N rec</th>
        <th> Name </th>
        <th> Country </th>
        <th> Email </th>
      </tr>
    </thead>
    <%= render @companies %>
  </table>
<% else %>
  <p>
    <%= 'Empty list' %>
  </p>
<% end %>
<div class="digg_pagination">
  <%= will_paginate @companies, :container => false %>
</div>
<br>

