<tr>
  <td>
    <%= dates_holiday.id %>
  </td>
  <td  align="center">
    <%= "#{dates_holiday.day} / #{dates_holiday.name_month}" %>
  </td>
  <td>
    <%= dates_holiday.holiday.name %>
  </td>

  <td>
    <% @companies = dates_holiday.name_of_company %>
    <%#= text_area_tag(:text, @companies, size: :auto) if @companies.present? %>
    <%= tag.text(@companies, size: :auto) if @companies.present? %>
  </td>
  <td>
    <%= people_list(dates_holiday) %>
  </td>
  <td>
    <%= link_to 'edit', edit_dates_holiday_path(dates_holiday) %>
  </td>
  <td>
    <%= link_to 'delete', dates_holiday_path(dates_holiday),
                method: :delete, data: { confirm: 'Are you sure' } %>
  </td>
</tr>
