<tr>
  <td  align="center">
    <% day_month = "#{dates_holiday.day} / #{dates_holiday.name_month}" %>
    <%= dates_holiday.year == 0 ? day_month : "#{day_month}/#{dates_holiday.year}"%>
  </td>
  <td>
    <%= Holiday.find(dates_holiday.holiday_id).name if dates_holiday.present? %>
  </td>

  <td>
    <% @companies = dates_holiday.name_of_company %>
    <%#= text_area_tag(:text, @companies, size: :auto) if @companies.present? %>
    <%= tag.text(@companies, size: :auto) if @companies.present? %>
  </td>
  <td>
    <%= people_list(dates_holiday) %>
  </td>
  <td>
    <%= dates_holiday.id %>
  </td>
   <td>
    <%= link_to 'edit', edit_dates_holiday_path(dates_holiday) %>
  </td>
  <td>
    <%= link_to 'delete', dates_holiday_path(dates_holiday),
                method: :delete, data: { confirm: 'Are you sure' } %>
  </td>
</tr>
