<%= form_with model: [@holiday, @dates_holiday], local: true do |form| %>
<p>
 Date: <%= date_field :dates_holiday, :date %>
</p>
<p>
  <%= 'Holiday: ' %>
  <%= form.collection_select :holiday_id, Holiday.order(:name), :id, :name, prompt: 'Select holiday' %>
</p>

<p>
  Year:  <%= form.text_field :year %>

</p>
<br>

<p> <%= form.submit %> </p>
<% end %>

