<%= form_with model: @countries_holiday, local: true do |form| %>
  <p>
    <%= 'Country: ' %>
    <%= form.collection_select :country_id, Country.order(:name), :id, :name, prompt: 'Select country' %>
  </p>
  <p>
    <%= 'Holiday: ' %>
    <%= form.collection_select :holiday_id, Holiday.order(:name), :id, :name, prompt: 'Select holiday' %>
  </p>
  <br>
  <p> <%= form.submit %> </p>
<% end %>
<br>
