<%= form_with model: @postcard, html: { multipart: true }, local: true do |form| %>

  <div>
    <%= form.label :id %>:
    <a style="color: navy; font-size: 16px"><%= @postcard.id %> </a>
  </div>

  <p>
    <%= 'Holiday: ' %>
    <%= form.collection_select :holiday_id, Holiday.order(:name), :id, :name, prompt: 'Select holiday' %>
  </p>
  <p>
    <a>
      <%= form.file_field :image %>
    </a>
    <%#= form.input :image, as: :file !!!  undefined method `input' for #<ActionView::Helpers::FormBuilder:0 ..%>
    <%= image_tag @postcard.image.url(:medium) if @postcard.image? %>
    <%#= form.hidden_field :image_cache %>
  </p>
  <p>
    <%= form.label :filename %> <br>
    <%= form.text_field :filename, id: :postcard_filename, class: 'form-control' %>
  </p>

  <br>
  <p> <%= form.submit %> </p>
<% end %>
<br>
