<%= form_with model: @postcard, html: { multipart: true }, local: true do |form| %>

<!--   <p>
    <%= form.label :id %>
  </p>

  <p>
    <%= form.text_field :id %>
  </p>
 -->

 <!--  <p>
    <%= form.text_field :filename %>
   --></p>
<p>
  <%= form.label :filename %> <br>
  <%= form.text_field :filename, id: :postcard_filename, class: 'form-control' %>
</p>
<p>
    <%= form.file_field :image%>
</p>

  <br>
  <p> <%= form.submit %> </p>
<% end %>
<br>
