<tr>
 <!--  <td>
    <%= postcard.id %>
  --> </td>
  <td>
    <%= postcard.holiday.name if postcard.holiday_id.present? %>
  </td>

  <td>
    <%= postcard.filename %>
  </td>

  <td class="text-center">
     <%= image_tag postcard.image.url(:small) %>
  </td>

 <!--  <td>
    <%= link_to 'show', postcard_path(postcard) %>
  </td>
 -->
  <td>
    <%= link_to 'edit', edit_postcard_path(postcard) %>
  </td>
  <td>
    <%= link_to 'delete', postcard_path(postcard),
                method: :delete, data: { confirm: 'Are you sure' } %>
  </td>
</tr>

