<tr>
  <td>
    <%= email.id %>
  </td>
  <td >
    <%= text_area_tag(:text, email.name, size: :auto) if email.name.present? %>
  </td>
  <td>
    <%= text_area_tag(:text, email.subject, size: :auto) if email.subject.present? %>
  </td>
  <td>
    <% @list_companies = list_companies(email) %>
    <% if  @list_companies.present? %>
    <%=  text_area_tag(:text, @list_companies, size: :auto) %>
    <% else %>
    <%=  email.address %>
    <% end %>
  </td>
  <td>
    <%= email.holiday.name if email.holiday_id.present? %>
  </td>
  <td>
    <%= text_area_tag(:text, email.message, size: :auto) if email.message.present? %>
  </td>
  <td>
    <% email.postcards.each do |postcard|  %>
      <%= image_tag postcard.image.url(:small) %><br>
      <a style="font-size: 8px"><%= postcard.filename %></a><br>
  <% end %>
  </td>
  <td align="center">
    <%= email.will_send if email.will_send.present? %>
  </td>
  <td align="center">
    <%= email.sent_date %>
  </td>
  <td align="center">
    <%= email.year %>
  </td>
    <% if email.checkit.to_i > 0 %>
  <td class="s_e_d">
      <% if email.sent_date.to_i.zero? %>
        <%= link_to 'SEND', "/emails/send/#{email.id}" %>
      <% else %>
        <%= 'DONE' %>
      <% end %>
  </td>
    <% else %>
  <td class="checkit">
      <%= link_to 'CHECK IT !', edit_email_path(email.id), :style=> 'color: red;' %>
  </td>
    <% end %>
  <td class="s_e_d">
    <%= link_to 'edit', edit_email_path(email.id) %>
  </td>
  <td class="s_e_d">
    <%= link_to 'delete', email_path(email),
                method: :delete, data: { confirm: 'Are you sure' } %>
  </td>
</tr>

