<%= form_with model: @email, local: true do |form| %>
  <p>
    Email Id: <%= "#{@email.id}" %><br>
    <%= 'To: ' %>
    <%= form.collection_select :person_id, Person.all, :id, :name, prompt: 'Select person' %>
  </p>
  <p>
    <%= 'FOR HOLIDAY: ' %>
    <%= form.collection_select :holiday_id, Holiday.all, :id, :name, prompt: 'Select holiday' %>
    <%= 'Will be Send: ' %>
    <%= date_select :email, :will_send, start_year: Time.now.year, end_year: Time.now.year + 1 %>
  </p>
  <p>
    <%= "Name This Email: "  %>
    <%= form.text_field :name %>
    <%#= form.label :address %>
    <%#= form.text_field :address %>
  </p>
  <p>
    <%= 'Company Email Address: ' %>:
    <%= form.collection_select :mail_address_id, MailAddress.all, :id, :email, prompt: 'Select Mail Address Company' %>
  </p>
<!--   <ol class="table-bordered">
    <%#= render @email.cardtexts if @email.cardtexts.present? %>
  </ol
 -->

  <p>
    <%= form.label :message %>
    <%= form.text_area :message, rows: 3, cols: 50, class: 'form-control' %>
  </p>
  <p>
    <%= 'Check It: '%>
    <%= form.check_box :checkit %>
  </p>

  <p> <%= form.submit %> </p>
<% end %>
