<%= form_with model: @email, local: true do |form| %>
  <div>
    <a style="font-weight: bold; font-size: 14px;  margin: 1%">YEAR:</a>
    <a style="color: navy; font-weight: bold; font-size: 20px;"><%= @email.year %> </a>
    <a style="margin: 1%"> id: </a> <a style="color: navy"><%= "#{@email.id}" %></a>

    <br>
  </div>
  <a>
    <%= 'HOLIDAY: ' %>
    <%= form.collection_select :holiday_id, Holiday.order(:name), :id, :name, prompt: 'Select holiday' %>
  </a>
  <div>
    <%= 'Description: ' %>
    <%= form.text_field :name, size: 60 %>
  </div>
  <div>
    <%= 'Subject: '  %>
    <%= form.text_field :subject, size: 60 %>
  </div>
  <% unless @email.companies_emails.present? %>
<!--     <a style="size: 100; margin: 10%">
      <%#= form.label :address %>
      <%#= form.text_area :address, rows: 1, cols: 100,  class: 'form-control'  %>
    </a>
  <%# else %>
 -->
    <div>
      <a style="size: 100;">
        <%= form.label :address %>
        <%= form.text_area :address, rows: 1, cols: 100,  class: 'form-control'  %>
      </a>
    </div>
  <% end %>
  <div>
    <%= 'Message' %>
    <%= form.text_area :message, rows: 2, cols: 60, class: 'form-control' %>
  </div>
  <div>
    Will be sent:
    <%= date_field( :email, :will_send )%>
    <% unless @email.sent_date.nil?  %>
    <a style="margin: 5%;">Sent:
      <%= date_field( :email, :sent_date ) %>
    </a>
    <% end %>
  </div>
  <div>
    <%= 'Check It: '%>
    <%= form.check_box :checkit %>

  </div>
  <div>
    <% @list_companies = list_companies(@email) %>
    <% if  @list_companies.present? %>
    <div>
      Email recipients:
    </div>
    <%= text_area_tag(:text,  @list_companies, cols: 100) %>
    <% end %>
  </div>
  <a style="margin: 22%;"><%= form.submit %></a>

<% end %>
