<h1> Edit Email</h1>
<%= render 'form' %>
<p>
  <%= link_to 'Back to all Emails', emails_path %>
</p>
<br>
<%= link_to 'Add New Post Card ', new_email_email_card_path(@email, {holiday_id: @email.holiday_id}), class: "new-email-card",  id: "new-email_card" %>
<%#= render 'email_cards/header_email_cards_list', email: @email %>
<!--
  <ol class="table-bordered">
    <%#= render @email.postcards if @email_cards.present? %>
  </ol>
 -->
<!-- <table>
  <tbody>
    <tr>
 -->
<div>
  <%= render 'email_card' %>
</div>
<div>
  Companies recipients
</div>
<div>
  <%= render 'companies_email' %>
</div>
  <!--   </tr>
  </tbody>

</table>
 -->
<%#= render 'email_texts/list_email_texts', email: @email  %>
