<h1> Emails </h1>

<!-- <div class="digg_pagination">
  <%#= will_paginate @emails, :container => false %>
</div>
 --><!-- <li class="nav-item active">
   <%#= link_to 'New Email', new_email_path %>
</li>
 -->
<!--  <li>
   <%#= delete_all_unchecked %>
 </li>
 -->
 <li class="nav-item active">
  <a style="background: navy; color: aqua;" ><%= link_to " CREATE EMAILS for #{$Period} days: " , "/emails/create_emails" %></a>
  <a style="background: navy; color: white;"><%= "#{Date.today}" %></a>
  to:
  <a style="background: navy; color: white;"><%= " #{Date.today + $Period} " %></a>
</li>
<!-- <li class="nav-item active">
  <a style="color: navy">  Emails to date: </a>
  <%# my_date = Time.now + 6.days %>
  <a id="to-date-input" >
 -->  <!-- 1<form> -->
    <%#= date_field_tag "new_date" , "#{my_date.to_date}", class: 'to_date_input' %>
   <%#= select_date(my_date, prefix: 'new_date') %>
    <!-- <p id="date"> </p> -->
<!--     <button id="button-date-to" type="submit" > Create </button>
 -->    <!-- 1<button type="submit" onclick="GetDateTo()"> Create </button> -->
    <%#= link_to 'CREATE EMAILS for Week', "/emails/create_emails_weekly" %>
  <!-- 1</form> -->
<!--   </a>
</li>
 -->
<table class="container">
  <% if @emails.present? %>
    <!-- <table style="font-size: 12px"  class="table table-bordered"> -->
    <table id="tableEmails" class="table table-striped table-bordered table-sm">
      <thead class="thead-light" align="center">
        <tr>
          <th> Will be Send </th>
          <th> Description </th>
          <th> Subject </th>
          <th> Companies / <br> Email address</th>
          <th> Holiday </th>
          <th> Message </th>
          <th> Postcards </th>
          <th> Sent  </th>
          <th> YEAR  </th>
          <th> N </th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <%= render @emails %>
    </table>
  <% else %>
    <p>
      <%= 'Empty list' %>
    </p>
  <% end %>
</table>
