<tr>
  <td>
    <%= companies_person.id %>
  </td>
  <td>
    <a style="color: blue; font-weight: bold;" ><%= companies_person.company.name %> </a>
    <%= "(  #{companies_person.company.email} )" %>
  </td>
  <td>
    <%= "#{companies_person.person.name} " %>
    <a style="color: blue;" ><%="(#{companies_person.person.email})" %></a>
    <% if companies_person.person.this_email_use.to_i > 0 %>
    <a style="color: red; font-weight: bold;" > ( Use this For Mailer ) </a>
    <% end %>
  </td>
<!--   <td>
    <%#= link_to 'show', companies_person_path(companies_person) %>
  </td>
 -->
  <td>
      <%= link_to 'edit', edit_companies_person_path(companies_person) %>
  </td>
  <td>
      <%= link_to 'delete', companies_person_path(companies_person),
                  method: :delete, data: { confirm: 'Are you sure' } %>
  </td>
</tr>
