<%= form_with model: @companies_person, local: true do |form| %>
  <p>
    <%= 'Company: ' %>
    <%= form.collection_select :company_id, Company.all, :id, :name, prompt: 'Select company' %>
  </p>

  <p>
    <%= 'Person: ' %>
    <%= form.collection_select :person_id, Person.all, :id, :name, prompt: 'Select person' %>
  </p>

  <br>
  <p> <%= form.submit %> </p>

<% end %>
<br>
